# Aula 1: tu primer Colab con Python y Pandas
Inmersión de datos con Python 2023, Alura

## Environment Configuration

Import Pandas and .csv datasheet

The data is saved in a Pandas DataFrame called *inmuebles*

In [2]:
import pandas as pd

inmuebles = pd.read_csv('./datasheet/inmuebles_bogota.csv')

## Pandas DataFrame Attributes
Shape gets the number of rows and columns. It doesn't consider pandas index default column.

In [ ]:
inmuebles.shape

(9520, 8)

In [ ]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

Rename column names

In [4]:
# Create a dictionary
newnames = {'Baños':'Banios','Área':'Area'}
# UPZ = Unidad de planeación zonal
# Es un conjunto de barrios que forman una localidad
inmuebles = inmuebles.rename(columns=newnames)
inmuebles.sample(3)

,Tipo,Descripcion,Habitaciones,Banios,Area,Barrio,UPZ,Valor
7387,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,61,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 186.000.000
1175,Apartamento,Apartamento en venta en Chapinero,3,2,131,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,$ 825.000.000
8744,Apartamento,Apartamento en venta en Chico Norte,2,4,159,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 2.515.535.000

DataFrame's columns can be obtained just like this. This is returned as a Pandas Series

In [ ]:
inmuebles.Area

0        70
1       170
2       144
3       154
4       128
       ...
9515     70
9516    100
9517    383
9518    183
9519     52
Name: Area, Length: 9520, dtype: int64

Get a resume of table model, the number of entries and non-null values

In [ ]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banios        9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

## Data selection

iloc stands for the Pandas default index. This function retrieves the rows 300 to 305.

In [ ]:
inmuebles.iloc[300:305]

,Tipo,Descripcion,Habitaciones,Banios,Area,Barrio,UPZ,Valor
300,Apartamento,Apartamento en venta en Kennedy,2,1,42,Kennedy,Kennedy Central,$ 116.100.000
301,Apartamento,Apartamento en venta en Chico Norte,2,2,95,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 980.000.000
302,Apartamento,Apartamento en venta en Kennedy,3,2,54,Kennedy,Kennedy Central,$ 237.000.000
303,Apartamento,Apartamento en venta en Kennedy,3,2,67,Kennedy,Kennedy Central,$ 320.000.000
304,Apartamento,Apartamento en venta en Cedritos,4,4,132,Cedritos,Usaquén,$ 530.000.000

In [ ]:
inmuebles['Valor'][300]

'$ 116.100.000'

In [ ]:
inmuebles['Valor'][300:305]

300    $ 116.100.000
301    $ 980.000.000
302    $ 237.000.000
303    $ 320.000.000
304    $ 530.000.000
Name: Valor, dtype: object

In [ ]:
type(inmuebles.iloc[300])

pandas.core.series.Series

## Pandas math functions

In [ ]:
inmuebles.Area.mean()

146.66470588235293

In [ ]:
inmuebles.Banios == 3

0       False
1        True
2        True
3       False
4        True
        ...
9515    False
9516    False
9517    False
9518    False
9519    False
Name: Banios, Length: 9520, dtype: bool

Count selected entries

In [ ]:
sum(inmuebles.Banios == 3)

1906

In [ ]:
type(inmuebles.Barrio.value_counts())

pandas.core.series.Series

## Masks

In [ ]:
inmuebles_chico = (inmuebles.Barrio == 'Chico Reservado')
inmuebles_chico

0       False
1       False
2        True
3       False
4       False
        ...
9515    False
9516    False
9517    False
9518    False
9519    False
Name: Barrio, Length: 9520, dtype: bool

Create a dataframe with selected entries

In [ ]:
chico_reservado = inmuebles[inmuebles_chico]
chico_reservado

In [ ]:
print(inmuebles.Area.mean())
print(chico_reservado.Area.mean())

## Plots

### Gráfico de barras

In [ ]:
inmuebles_banios = inmuebles.Banios.value_counts()
inmuebles_banios.plot.bar()

Graficar las poblaciones de los 10 barrios más poblados

In [ ]:
inmueble_barrio = inmuebles.Barrio.value_counts()
inmueble_barrio.head(10).plot.bar()